.parent{
    background-color: rgb(49, 245, 245);
    position: relative;
    height: 200vh;
}

.child-one{
    background-color: greenyellow;
    position: fixed;
    top: 0px;
    right: 0px;
}

.child-two{
    background-color: tomato;
}

.child-three{
    background-color: blueviolet;
}